/../../.CFUserTextEncoding
/../../.DS_Store
/../../.Xauthority
/../../.android/
/../../.atom/
/../../.bash_history
/../../.cache/
/../../.config/
/../../.cups/
/../../.gitconfig
/../../.gitignore
/../../.idlerc/
/../../.ipython/
/../../.jssc/
/../../.lesshst
/../../.local/
/../../.matplotlib/
/../../.mongodb/
/../../.node_repl_history
/../../.npm/
/../../.oracle_jre_usage/
/../../.swiftpm/
/../../.viminfo
/../../.vscode-react-native/
/../../.vscode/
/../../.zprofile
/../../.zprofile.macports-saved_2024-02-05_at_10:56:43
/../../.zprofile.pysave
/../../.zsh_history
/../../.zsh_sessions/
/../../.zshrc
/../../Applications/
/../../Debloat-Scripts/
/../
/../ .jpg
/../.DS_Store
/../.localized
/../Placement/
/"../Screenshot 2024-06-21 at 12.42.42 PM.png"
/"../Screenshot 2024-06-21 at 7.15.57 AM.png"
/../imp/
/../../Documents/
/../../Downloads/
/../../HTML/
/../../Library/
/../../Movies/
/../../Music/
/../../Pictures/
/../../Public/.DS_Store
/../../Public/.localized
/../../Public/Drop Box/
/../../c++/
/../../data/
/../../mongodb-macos-aarch64-7.0.11/
/../../src/app.js
/../../story/
/../../summer coding/
/../../test.txt
/../../thapar coding material/
/../../useraid.github.io/
node_modules
.env