.initial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
  }
  .initial-login {
    border-radius: 4px;
    background-color:rgb(159, 118, 56);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .initial-login span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .initial-login span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .initial-login:hover span {
    padding-right: 25px;
  }

  .initial-login:hover span:after {
    opacity: 1;
    right: 0;
  }
  h1{
    display: inline;
  }
/* Login.css */
.initial-login {
  /* Add your animation classes here */
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.initial-heading {
  /* Add your animation classes here */
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}