/* Container for the form */
form {
  max-width: 400px;
  margin-top: 10%;
  margin-left: 33%;
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
body{
  background-color: bisque;
}
/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

/* Set a style for all buttons */
.login-button {
  background-color: #007bff;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

/* Add a hover effect for buttons */

/* Extra style for the cancel button */
.cancelbtn {
  background-color: #dc3545;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

/* Center the avatar image */



/* Add padding to containers */
.container {
  padding: 20px;
}

/* The "Forgot password" text */
span.psw {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
}

/* Media query for small screens */
@media screen and (max-width: 400px) {
  /* Center-align cancel button and display forgot password text below */
  .cancelbtn {
    width: 100%;
  }
}


.login-button  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.login-button:hover span {
  padding-right: 25px;
}

.login-button:hover span:after {
  opacity: 1;
  right: 0;
}

.cancelbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.cancelbtn span:after {
  content:'\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.cancelbtn:hover span {
  padding-right: 25px;
}

.login-button:hover span:after {
  opacity: 1;
  right: 0;
}
.addProduct {
  font-size: 12px;        /* Reduce font size */
  width: 80px;            /* Set width */
  height: 80px;           /* Set height */
  padding: 5px 10px;      /* Reduce padding */
  margin: 5px;            /* Adjust margin if necessary */
  cursor: pointer;
  background-color: #111;
  color: white;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust box-shadow */
  border-radius: 5px;     /* Optional: Add border radius for rounded corners */
  align-items: center;
}

.addProduct-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}