/* General Styles */

body {
  background-color: #f8f9fa; /* Light grey background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #343a40; /* Dark grey text color */
}

/* Header Styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* Primary blue background */
  padding: 10px 20px; /* Adjusted padding for better spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: relative;
  z-index: 1000;
}

/* Style the logo container */

.header .logo img {
  max-height: 90px; /* Adjust as necessary for your logo size */
  width: auto;
}

.header a {
  color: #ffffff; /* White text color */
  text-align: center;
  padding: 10px 20px; /* Added padding for clickable area */
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 20px; /* Adjusted padding for better spacing */
}

.header a:hover {
  background-color: #0056b3; /* Darker blue for hover effect */
  color: #ffffff; /* Maintain white text color */
}

.header a.active {
  background-color: #0056b3; /* Active link color */
  color: #ffffff;
}

.header-right {
  display: flex;
  align-items: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
    padding: 10px 0; /* Adjusted padding for better spacing */
    width: 100%;
  }
  .header-right {
    float: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 10px;
  }
  .header .logo img {
    max-height: 50px; /* Adjust as necessary for your logo size */
  }
  .header a {
    padding: 10px 0; /* Consistent padding for smaller screens */
  }
  .header-right {
    justify-content: center;
    width: 100%;
  }
}

/* Footer Styles (if needed) */
.footer {
  background-color: #007bff; /* Primary blue background */
  color: #ffffff; /* White text color */
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.button {
  background-color: #007bff; /* Primary blue background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* Darker blue for hover effect */
}

/* General Link Styles */
a {
  color: #007bff; /* Primary blue color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
